Q1) make your own fuction that concatenate words and exclamation makes then assign tuples for each result

In [ ]:
# Define shout_all with parameters word1 and word2
def

    # Concatenate word1 with '!!!': shout1
    shout1=

    # Concatenate word2 with '!!!': shout2
    shout2=

    # Construct a tuple with shout1 and shout2: shout_words
    shout_words =

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1, yell2 =

# Print yell1 and yell2
print(yell1)
print(yell2)

Q2) concatenate all student's name but the number of arguments are not define yet

In [ ]:
# Define name
def :
    """Concatenate strings in *args together."""

    # Initialize an empty string: student


    # Concatenate the strings in args
    for word in args:


    # Return student
    return

# Call name() with one string: one_word
one_word = name("luke")

# Call name() with five strings: many_words
many_words = name("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

Q3) fillter the name which is longer than 7

In [ ]:
# Create a list of strings: name
name = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over name: result
result = filter()

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)